.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 10px;
}

.product {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.product-button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 12px;
  background-color: #E04F16;
  color: white;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
}